/* --------------------------------------- Navbar */

nav {
  min-height: 71px;
}

.navbar-brand {
  padding-top: 0;
  margin-top: 0;
}

nav ul {
  margin-top: 7px;
}

.nav-link {
  margin-right: 20px;
}

.nav-link:hover {
  color: rgb(255, 196, 0);
}

/* --------------------------------------- Index */

.index-header {
  margin: 0;
  padding: 0;
  background-image: url(../images/hero-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.service-section {
  margin-bottom: 87px;
}

.service-item img {
  max-height: 172px;
}

.service-item button {
  margin-top: 10px;
  margin-bottom: 30px;
  min-width: 130px;
}

.service-divider {
  border-bottom: 4px solid #212529;
  width: 60%;
  margin: 15px auto;
}

/* --------------------------------------- About */

.about-header {
  background-color: aquamarine;
}

.sticky-row {}

.image-col {
  height: 100vh;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 70%;
  background-attachment: fixed;
}

#image-1 {
  background-image: url(../images/about/about-1.png);
}

#image-2 {
  background-image: url(../images/about/about-2.png);
}

#image-3 {
  background-image: url(../images/about/about-3.png);
}

.text-col {
  min-height: 100vh;
  padding: 0;
  position: relative;
}

.title-cover-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 65px;
  background-color: white;
  z-index: 1;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 85%,
      rgba(255, 255, 255, 0) 100%);
}

.title-cover-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 65px;
  background-color: white;
  z-index: 1;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 15%,
      rgba(255, 255, 255, 1) 100%);
}

.sticky-title {
  margin-bottom: 0;
  padding: 20px 0 10px 0;
  position: sticky;
  top: 70px;
  background-color: white
}

.text-col p {
  width: 80%;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 36px;
}

.text-col p:first-of-type {
  margin-top: 120px;
}

.text-col p:last-of-type {
  margin-bottom: 120px;
}

.spacer {
  height: 30vh;
  background-color: lightblue;
}

.testimonial-section {
  margin-bottom: 70px;
  background-color: lightcoral;
}

#carousel .carousel-item {
  height: 82vh;
  transition: none !important;
  position: relative;
}

#carousel .carousel-item img {
  height: 100%;
}

#carousel .carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
}

/* --------------------------------------- Contact */

.contact-header {
  margin: 86px 0 30px;
}

.form-section {
  margin-bottom: 50px;
}

textarea {
  height: 100px;
}

.button-wrapper {
  height: 50%;
}

.info-section {
  margin-bottom: 30px;
}

.picture-col {
  height: 300px;
  background-image: url(../images/call-me.png);
  background-size: cover;
  background-position: center;
}

/* --------------------------------------- Footer */

footer {
  height: 71px;
}

footer p {
  margin: 0;
}

#email-col {
  padding: 0;
}

/* --------------------------------------- Media Queries */

/* XS Only */

@media only screen and (max-width: 576px) {
  #carousel .carousel-item {
    height: auto;
  }
}

/* MD */

@media only screen and (min-width: 768px) {
  .service-divider {
    border-left: 2px solid #212529;
    border-right: 2px solid #212529;
    width: 0px;
    margin: 0 auto;
    padding: 0;
  }

  .image-col {
    background-position: left center;
  }
}

/* XL */

@media only screen and (min-width: 1200px) {
  .service-divider {
    width: 90%;
    margin: 0 auto 30px auto;
  }
}