/* --------------------------------------- Fonts */

h1,
h2,
.navbar-brand,
.transparent-text {
  font-family: 'Stick No Bills', sans-serif;
  font-weight: 700;
}

body,
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

/* --------------------------------------- Links */

a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

a:hover {
  color: yellow;
}

.btn-dark:hover,
.btn-light:hover {
  background-color: #212529;
  border-color: #4381C1;
  color: yellow;
  box-shadow: 2px 2px 5px rgba(67, 129, 193, 0.5);
}

/* --------------------------------------- Navbar */

nav {
  min-height: 71px;
}

.navbar-brand:hover {
  color: yellow;
}

.logo {
  box-shadow: 0 0 4px 4px white;
  margin-right: 10px;
}

.nav-link {
  margin-right: 20px;
}

.nav-link i {
  margin-right: 5px;
}

.nav-link:hover {
  color: yellow;
}

/* --------------------------------------- Index */

.index-header {
  margin: 0;
  padding: 0;
  background-image: url(../images/hero-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text {
  position: relative;
  padding: 20px;
  margin-top: 0.5rem;
}

.hero-text:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.hero-text h1,
.hero-text p {
  position: relative;
  z-index: 1;
}

.hero-text p {
  color: #ccc;
}

.spacer {
  height: 20vh;
  background-color: #212529;
}

.transparent-text {
  font-size: 2rem;
  background: linear-gradient(to top left, #212529 40%, yellow 50%, #212529 60%);
  color: transparent;
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-size: cover; */
  /* position: relative; */
  /* -moz-background-clip: text; */
}

.service-section {
  margin-bottom: 87px;
}

.service-item img {
  max-height: 172px;
}

.service-item button {
  margin-top: 10px;
  margin-bottom: 30px;
  min-width: 130px;
}

.service-section ul {
  z-index: 1031;
}

.service-divider {
  border-bottom: 4px solid #212529;
  width: 60%;
  margin: 15px auto;
}

/* --------------------------------------- About */

.about-header {
  height: 100vh;
  background-image: url(../images/hero-2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.parallax-section {
  padding: 0;
}

.image-col {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 70%;
  background-attachment: fixed;
}

#image-1 {
  background-image: url(../images/about/about-1.png);
}

#image-2 {
  background-image: url(../images/about/about-4.png);
}

#image-3 {
  background-image: url(../images/about/about-3.png);
}

.text-col {
  min-height: 100vh;
  position: relative;
}

.title-cover-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 22%;
  background-color: white;
  z-index: 1;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%);
}

.title-cover-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 22%;
  z-index: 1;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 100%);
}

.sticky-title {
  margin-bottom: 0;
  padding: 18% 0 10% 0;
  position: sticky;
  top: 6%;
  background-color: white
}

.text-col p {
  width: 80%;
  margin: 0 auto;
}

.text-col p:first-of-type {
  font-size: 1.5rem;
  margin: 70% auto;
}

.testimonial-section {
  margin-bottom: 70px;
}

#carousel .carousel-item {
  transition: none !important;
  position: relative;
}

#carousel .carousel-item img {
  min-height: 100vh;
  width: 100%;
  object-fit: cover;
}

#carousel .carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
  font-size: 1.2rem;
  /* The 3 lines below are from Stack Overflow */
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  padding: 20px;
}

.carousel-caption:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  border-radius: 20px;
}

.caption-title {
  font-size: 1.8rem;
}

/* --------------------------------------- Contact */

.contact-header {
  margin: 100px 0 30px;
}

.form-section {
  margin-bottom: 20%;
}

.input-group {
  margin-bottom: 15px;
}

textarea {
  height: 100px;
}

.info-section {
  margin-top: 20%;
  margin-bottom: 30px;
}

.info-section a {
  color: #212529;
}

.info-section a:hover {
  color: rgb(255, 196, 0);
}

.map-col {
  margin-bottom: 10%;
}

.map-col iframe {
  width: 100%;
  height: 100%;
}

.contact-title {
  font-size: 1.2rem;
}

.contact-divider {
  width: 80%;
  border-bottom: 4px solid #212529;
}

.picture-col {
  height: 60vh;
  margin-top: 10%;
  background-image: url(../images/call-me.png);
  background-size: cover;
  background-position: center;
}

/* --------------------------------------- Footer */

footer {
  height: 71px;
}

footer p {
  margin: 0;
}

#email-col {
  padding: 0;
}

/* --------------------------------------- Media Queries */

/* XS Only */

@media only screen and (max-width: 576px) {}

/* SM */

@media only screen and (min-width: 576px) {
  .title-cover-top {
    height: 18%;
  }

  .title-cover-bottom {
    height: 18%;
  }

  .sticky-title {
    padding: 10% 0 6% 0;
  }

  .text-col p:first-of-type {
    margin: 50% auto;
  }
}

/* MD */

@media only screen and (min-width: 768px) {
  .transparent-text {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }

  .service-divider {
    border-left: 2px solid #212529;
    border-right: 2px solid #212529;
    width: 0px;
    margin: 0 auto;
    padding: 0;
  }

  .image-col {
    background-position: 10% center;
  }

  .title-cover-top {
    height: 22%;
  }

  .title-cover-bottom {
    height: 22%;
  }

  .sticky-title {
    padding: 12% 0 10% 0;
  }

  .text-col p:first-of-type {
    font-size: 1.2rem;
    margin: 40% auto;
  }

  .carousel-caption {
    font-size: 1.4rem;
  }

  .form-section {
    margin-top: 10%;
    margin-bottom: 12%;
  }

  .form-section .row {
    margin-bottom: 100px;
    min-height: 220px;
  }

  textarea {
    height: 200px;
  }

  .info-section {
    margin-top: 6%;
  }

  .map-col {
    margin-bottom: 0;
  }

  .picture-col {
    height: 75vh;
    margin-top: 0;
  }
}

/* iPad Mini and Air  */

@media screen and (min-width: 768px) and (max-width: 840px) and (min-height: 1000px) {
  .service-section {
    margin-top: 60px;
    margin-bottom: 120px;
  }

  .text-col p:first-of-type {
    font-size: 1.5rem;
    margin: 80% auto;
  }

  .spacer {
    height: 10vh;
  }

  .spacer .transparent-text {
    font-size: 3.2rem;
  }

  .contact-spacer .transparent-text {
    background: linear-gradient(to top left, #212529 20%, yellow 50%, #212529 80%);
    color: transparent;
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
    /* position: relative; */
    /* -moz-background-clip: text; */
  }

  .form-section {
    margin-top: 0;
    margin-bottom: 7%;
  }

  .form-section .row {
    margin-bottom: 0;
    min-height: 120px;
  }

  textarea {
    height: 100px;
  }

  .input-group {
    margin-bottom: 0px;
  }

  .picture-col {
    height: 30vh;
  }
}

/* LG */

@media only screen and (min-width: 992px) {
  .title-cover-top {
    height: 24%;
  }

  .title-cover-bottom {
    height: 24%;
  }

  .sticky-title {
    padding: 12% 0 8% 0;
    top: 5%;
  }

  .text-col p:first-of-type {
    font-size: 1.2rem;
    margin: 30% auto;
  }

  .input-group {
    margin-bottom: 10px;
  }
}

/* iPad Pro */

@media screen and (min-width: 1020px) and (max-width: 1028px) and (min-height: 1350px) {
  .service-section {
    margin-top: 100px;
    margin-bottom: 140px;
  }

  .text-col p:first-of-type {
    font-size: 1.8rem;
    margin: 70% auto;
  }

  .spacer {
    height: 10vh;
  }

  .spacer .transparent-text {
    font-size: 4rem;
  }

  .contact-spacer .transparent-text {
    background: linear-gradient(to top left, #212529 20%, yellow 50%, #212529 80%);
    color: transparent;
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-size: cover; */
    /* position: relative; */
    /* -moz-background-clip: text; */
  }

  .form-section {
    margin-top: 0;
    margin-bottom: 7%;
  }

  .form-section .row {
    margin-bottom: 0;
    min-height: 120px;
  }

  textarea {
    height: 100px;
  }

  .picture-col {
    height: 35vh;
  }
}

/* XL */

@media only screen and (min-width: 1200px) {
  .transparent-text {
    font-size: 4rem;
    letter-spacing: 1rem;
  }

  .service-divider {
    width: 90%;
    margin: 0 auto 30px auto;
  }

  .parallax-section {
    max-width: 100%;
  }

  .image-col {
    background-size: auto 80%;
  }

  .title-cover-top {
    height: 20%;
  }

  .title-cover-bottom {
    height: 20%;
  }

  .sticky-title {
    padding: 10% 0 8% 0;
  }

  .text-col p:first-of-type {
    font-size: 1.8rem;
    margin: 30% auto;
  }

  .contact-header {
    margin-top: 18vh;
  }

  .contact-header h1 {
    font-size: 2.5rem;
  }

  .form-section {
    margin-top: 12vh;
    margin-bottom: 20vh;
  }

  .form-section .row {
    margin-bottom: 0;
    min-height: 120px;
  }

  .form-label {
    font-size: 1rem;
  }

  .input-group input {
    background-color: rgb(248, 248, 248);
  }

  .input-group span,
  .input-group input {
    font-size: 1rem;
  }

  #job-description {
    height: 120px;
    font-size: 1rem;
    background-color: rgb(248, 248, 248);
  }

  .submit-button {
    font-size: 1rem;
  }

  .contact-spacer {
    height: 20vh;
  }

  .contact-spacer .transparent-text {
    background: linear-gradient(to top left, #212529 30%, yellow 50%, #212529 70%);
    color: transparent;
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-size: cover; */
    /* position: relative; */
    /* -moz-background-clip: text; */
    font-size: 3rem;
  }

  .info-section {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .map-col {
    margin-bottom: 0;
  }

  .contact-info-title {
    font-size: 2rem;
  }

  .contact-title {
    font-size: 1rem;
  }

  .picture-col {
    height: 70vh;
    margin-top: 0;
    background-image: url(../images/call-me.png);
    background-size: cover;
    background-position: center;
  }
}

/* XXL */

@media only screen and (min-width: 1400px) {
  .service-section {
    margin-top: 120px;
    margin-bottom: 160px;
  }

  .title-cover-top {
    height: 22%;
  }

  .title-cover-bottom {
    height: 22%;
  }

  .contact-header {
    margin-top: 8vh;
  }

  .contact-header h1 {
    font-size: 2.5rem;
  }

  .form-section {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  #job-description {
    font-size: 1rem;
    background-color: rgb(248, 248, 248);
  }

  .submit-button {
    font-size: 1rem;
  }

  .contact-spacer {
    height: 8vh;
  }

  .contact-spacer .transparent-text {
    background: linear-gradient(to top left, #212529 00%, yellow 50%, #212529 100%);
    color: transparent;
    background-attachment: scroll;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-size: cover; */
    /* position: relative; */
    /* -moz-background-clip: text; */
    font-size: 2rem;
    letter-spacing: 2rem;
  }

  .info-section {
    margin-top: 1vh;
    margin-bottom: 1vh;
    max-width: 80%;
  }

  .map-col {
    margin-bottom: 0;
  }

  .contact-info-title {
    font-size: 2rem;
  }

  .contact-title {
    font-size: 1rem;
  }

  .picture-col {
    height: 35vh;
    margin-top: 0;
    background-image: url(../images/call-me.png);
    background-size: cover;
    background-position: center;
  }
}

/* Width 2000+, Height 1200+ */

@media screen and (min-width: 2000px) and (min-height: 1200px) {
  nav {
    min-height: 100px;
  }

  .logo {
    margin-left: 30px;
    margin-right: 30px;
  }

  .nav-link {
    margin-right: 40px;
  }

  .nav-link i {
    margin-right: 10px;
  }

  .spacer {
    background-color: #212529;
  }

  .service-section.container {
    max-width: 100%;
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .service-section h2 {
    margin-top: 100px !important;
  }

  .service-item {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .img-thumbnail {
    width: 380px;
    max-height: 258px !important;
    object-fit: cover;
  }

  .service-item button {
    margin-top: 20px;
    min-width: 220px;
  }

  footer {
    height: 100px;
  }

  .text-col p:first-of-type {
    margin: 50% auto;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 100px;
    height: 100px;
  }

  .contact-header {
    margin-top: 10vh;
  }

  .form-section {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .form-section .row {
    margin-bottom: 0;
    min-height: 120px;
  }

  .input-group input {
    background-color: rgb(248, 248, 248);
  }

  #job-description {
    height: 150px;
    background-color: rgb(248, 248, 248);
  }

  .contact-spacer {
    height: 10vh;
  }

  .contact-spacer .transparent-text {
    background: linear-gradient(to top left, #212529 20%, yellow 50%, #212529 80%);
    color: transparent;
    background-attachment: scroll;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-size: cover; */
    /* position: relative; */
    /* -moz-background-clip: text; */
  }

  .info-section {
    margin-top: 3vh;
    margin-bottom: 10px;
    max-width: 80%;
  }

  .map-col {
    margin-bottom: 0;
  }

  .picture-col {
    height: 35vh;
    margin-top: 0;
    background-image: url(../images/call-me.png);
    background-size: cover;
    background-position: center;
  }
}

/* Width 3800+, Height 2100+ */

@media screen and (min-width: 3800px) and (min-height: 2100px) {
  nav {
    min-height: 200px;
  }

  .logo {
    margin-left: 60px;
    margin-right: 60px;
    width: 5%;
    height: 5%;
  }

  .nav-link {
    margin-right: 80px;
  }

  .nav-link i {
    margin-right: 20px;
  }

  .service-section.container {
    max-width: 80%;
    margin-top: 160px;
    margin-bottom: 120px;
  }

  .service-section h2 {
    margin-top: 200px !important;
  }

  .service-item {
    margin-top: 130px;
    margin-bottom: 130px;
  }

  .img-thumbnail {
    width: 570px;
    max-height: 387px !important;
  }

  .service-item button {
    margin-top: 20px;
    min-width: 300px;
  }

  footer {
    height: 200px;
  }

  .text-col p:first-of-type {
    margin: 30% auto;
  }

  .contact-header {
    margin-top: 10vh;
  }

  .form-section {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .form-section .container {
    max-width: 60%;
  }

  .form-section .row {
    min-height: 120px;
    margin: 0;
  }

  #job-description {
    height: 220px;
    background-color: rgb(243, 243, 243);
  }

  .info-section {
    margin-top: 2vh;
  }
}