/* --------------------------------------- Fonts */

h1,
h2,
.navbar-brand {
  font-family: 'Stick No Bills', sans-serif;
  font-weight: 700;
}

body,
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* --------------------------------------- Links */

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 196, 0);
}

.btn-dark:hover,
.btn-light:hover {
  background-color: #212529;
  border-color: #4381C1;
  color: rgb(255, 196, 0);
  box-shadow: 2px 2px 5px rgba(67, 129, 193, 0.5);
}

/* --------------------------------------- Navbar */

nav {
  min-height: 71px;
}

.navbar-brand {
  padding-top: 0;
  margin-top: 0;
}

.navbar-brand:hover {
  color: rgb(255, 196, 0);
}

nav ul {
  margin-top: 7px;
}

.nav-link {
  margin-right: 20px;
}

.nav-link:hover {
  color: rgb(255, 196, 0);
}

/* --------------------------------------- Index */

.index-header {
  margin: 0;
  padding: 0;
  background-image: url(../images/hero-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text {
  position: relative;
  padding: 20px;
}

.hero-text:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.hero-text h1,
.hero-text p {
  position: relative;
  z-index: 1;
}

.hero-text p {
  color: #ccc;
}

.service-section {
  margin-bottom: 87px;
}

.service-item img {
  max-height: 172px;
}

.service-item button {
  margin-top: 10px;
  margin-bottom: 30px;
  min-width: 130px;
}

.service-divider {
  border-bottom: 4px solid #212529;
  width: 60%;
  margin: 15px auto;
}

/* --------------------------------------- About */

.about-header {
  height: 100vh;
  background-color: #5DFDCB;
}

.image-col {
  height: 100vh;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 70%;
  background-attachment: fixed;
}

#image-1 {
  background-image: url(../images/about/about-1.png);
}

#image-2 {
  background-image: url(../images/about/about-4.png);
}

#image-3 {
  background-image: url(../images/about/about-3.png);
}

.text-col {
  min-height: 100vh;
  padding: 0;
  position: relative;
}

.title-cover-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 22%;
  background-color: white;
  z-index: 1;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%);
}

.title-cover-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 22%;
  z-index: 1;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 100%);
}

.sticky-title {
  margin-bottom: 0;
  padding: 18% 0 10% 0;
  position: sticky;
  top: 5%;
  background-color: white
}

.text-col p {
  width: 80%;
  margin: 0 auto;
}

.text-col p:first-of-type {
  font-size: 1.5rem;
  margin: 70% auto;
}

.spacer {
  height: 20vh;
  background-color: #4381C1;
}

.testimonial-section {
  margin-bottom: 70px;
}

#carousel .carousel-item {
  transition: none !important;
  position: relative;
}

#carousel .carousel-item img {
  min-height: 100vh;
  width: 100%;
  object-fit: cover;
}

#carousel .carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
  font-size: 1.2rem;
  /* The 3 lines below are from Stack Overflow */
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.carousel-caption:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  border-radius: 20px;
}

.caption-title {
  font-size: 1.8rem;
}

/* --------------------------------------- Contact */

.contact-header {
  margin: 86px 0 30px;
}

.form-section {
  margin-bottom: 10%;
}

textarea {
  height: 100px;
}

.button-wrapper {
  height: 50%;
}

.info-section {
  margin-bottom: 30px;
}

.info-section a {
  color: #212529;
}

.info-section a:hover {
  color: rgb(255, 196, 0);
}

.contact-title {
  font-size: 1.2rem;
}

.contact-divider {
  width: 80%;
  border-bottom: 4px solid #212529;
}

.picture-col {
  height: 300px;
  background-image: url(../images/call-me.png);
  background-size: cover;
  background-position: center;
}

/* --------------------------------------- Footer */

footer {
  height: 71px;
}

footer p {
  margin: 0;
}

#email-col {
  padding: 0;
}

/* --------------------------------------- Media Queries */

/* XS Only */

@media only screen and (max-width: 576px) {}

/* SM */

@media only screen and (min-width: 576px) {
  .title-cover-top {
    height: 18%;
  }

  .title-cover-bottom {
    height: 18%;
  }

  .sticky-title {
    padding: 10% 0 6% 0;
  }

  .text-col p:first-of-type {
    margin: 50% auto;
  }
}

/* MD */

@media only screen and (min-width: 768px) {
  .service-divider {
    border-left: 2px solid #212529;
    border-right: 2px solid #212529;
    width: 0px;
    margin: 0 auto;
    padding: 0;
  }

  .image-col {
    background-position: 10% center;
    padding: 45% 0;
  }

  .title-cover-top {
    height: 22%;
  }

  .title-cover-bottom {
    height: 22%;
  }

  .sticky-title {
    padding: 12% 0 10% 0;
    top: 6%;
  }

  .text-col p:first-of-type {
    font-size: 1.2rem;
    margin: 40% auto;
  }

  .carousel-caption {
    font-size: 1.4rem;
  }
}

/* LG */

@media only screen and (min-width: 992px) {
  .image-col {
    background-size: auto 70%;
    padding: 38% 0;
  }

  .title-cover-top {
    height: 24%;
  }

  .title-cover-bottom {
    height: 24%;
  }

  .sticky-title {
    padding: 12% 0 8% 0;
  }

  .text-col p:first-of-type {
    font-size: 1.2rem;
    margin: 30% auto;
  }
}

/* XL */

@media only screen and (min-width: 1200px) {
  .service-divider {
    width: 90%;
    margin: 0 auto 30px auto;
  }

  .image-col {
    background-size: auto 80%;
    padding: 40% 0;
  }

  .title-cover-top {
    height: 20%;
  }

  .title-cover-bottom {
    height: 20%;
  }

  .sticky-title {
    padding: 10% 0 8% 0;
  }

  .text-col p:first-of-type {
    font-size: 1.8rem;
    margin: 30% auto;
  }

}